section.cooper
  .cooper__container.container
    .cooper__navlink.navlink 
      +navlinkItem('Главная') 
      +navlinkItem('Сотрудничество') 
    h1.title-reset.cooper__title Сотрудничество
    .cooper__coblock.coblock
      h2.title-reset.coblock__title Поставщикам
      p.margin-reset.coblock__descr При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.
    .cooper__coblock.coblock
      h2.title-reset.coblock__title Что вы получаете?
      ul.list-reset.coblock__list.coblock__list_short
        li.coblock__item 
          +svg('network-svg', 'coblock')
          p.margin-reset.coblock__descr Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
        li.coblock__item 
          +svg('briefcase-svg', 'coblock')
          p.margin-reset.coblock__descr Комплексное решение для красивого и&nbsp;функционального обустройства любых пространств.
        li.coblock__item 
          +svg('pullreq-svg', 'coblock')
          p.margin-reset.coblock__descr В&nbsp;ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в&nbsp;помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и&nbsp;переговорных комнатах.
    .cooper__coblock.coblock
      h2.title-reset.coblock__title Ваши преимущества от&nbsp;сотрудничества
      h3.margin-reset.coblock__subtitle Возможность&nbsp;1:
      p.margin-reset.coblock__descr Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными, а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
      h3.margin-reset.coblock__subtitle Возможность&nbsp;2:
      p.margin-reset.coblock__descr Мы&nbsp;предлагаем застройщикам, работающим на&nbsp;территории&nbsp;РФ, участие наших специалистов от&nbsp;этапа проектирования обстановки квартир и&nbsp;подбора комплексных интерьерных решений до&nbsp;оптовых поставок мебели. Поможем организовать демонстрационный зал с&nbsp;образцами изделий и&nbsp;материалов на&nbsp;площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
    .cooper__coblock.coblock
      h2.title-reset.coblock__title Гарантии
      ul.list-reset.coblock__list
        li.coblock__item 
          span.coblock__capture 1.
          p.margin-reset.coblock__descr При приемке товара Покупатель должен внимательно проверить его количество, качество и&nbsp;ассортимент на&nbsp;соответствие сопроводительным документам и&nbsp;заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
        li.coblock__item 
          span.coblock__capture 2.
          p.margin-reset.coblock__descr На&nbsp;товары, сборка которых производилась покупателем самостоятельно (не&nbsp;специалистами Продавца), гарантийные обязательства Продавца не&nbsp;распространяются. Также гарантия не&nbsp;распространяется на&nbsp;повреждения товара, полученные в&nbsp;ходе самостоятельной доставки и&nbsp;подъема товара. Покупатель не&nbsp;вправе отказаться от&nbsp;товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
        li.coblock__item 
          span.coblock__capture 3.
          p.margin-reset.coblock__descr Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и&nbsp;потребительские свойства товара, а&nbsp;также товарный и&nbsp;кассовый чеки. В&nbsp;этом случае мы&nbsp;гарантируем вам возврат полной стоимости товара (за&nbsp;вычетом стоимости доставки). В&nbsp;случае отказа от&nbsp;товара при доставке, клиент оплачивает услуги доставки.
    .cooper__additional
      picture 
        source(media='(max-width: 500px)', srcset=`img/cooper/pencil-320.webp`) 
        img.img-reset(src="img/cooper/pencil.webp", alt="pencil").cooper__img
      p.margin-reset.cooper__text Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев