footer#contacts-section.footer 
  .footer__container.container
    .footer__left
      .footer__logo 
        +svg('logo-svg', 'footer')
      .footer__social
        a.link-reset(href="https://ok.ru").footer__link #[+svg('ok-svg', 'footer')]
        a.link-reset(href="http://www.vk.com").footer__link #[+svg('vk-svg', 'footer')]
    .footer__right
      .footer__fblock.fblock 
        h3.margin-reset.fblock__title О&nbsp;нас
        ul.list-reset.fblock__list 
          li.fblock__item 
            a.link-reset(href="#").fblock__link О&nbsp;компании
          li.fblock__item 
            a.link-reset(href="#").fblock__link Блог
      .footer__fblock.fblock 
        h3.margin-reset.fblock__title Услуги
        ul.list-reset.fblock__list 
          li.fblock__item 
            a.link-reset(href="#").fblock__link Доставка
          li.fblock__item 
            a.link-reset(href="#").fblock__link Рассрочка и&nbsp;кредит
          li.fblock__item 
            a.link-reset(href="#").fblock__link Сборка и&nbsp;установка
      .footer__fblock.fblock 
        h3.margin-reset.fblock__title Связь с&nbsp;нами
        ul.list-reset.fblock__list 
          li.fblock__item 
            a.link-reset(href="#").fblock__link Обратная связь
          li.fblock__item 
            a.link-reset(href="#").fblock__link Контакты
      .footer__fblock.fblock 
        h3.margin-reset.fblock__title Сотрудничество
        ul.list-reset.fblock__list 
          li.fblock__item 
            a.link-reset(href="#").fblock__link Поставщикам
          li.fblock__item 
            a.link-reset(href="#").fblock__link Оптовикам
          li.fblock__item 
            a.link-reset(href="#").fblock__link Карьера
  small.footer__down SDP®&nbsp;&nbsp;&nbsp;2011-2021