header.header
  .header__container.container
    .header__u-block.u-block
      .u-block__region
        span.u-block__descr Ваш&nbsp;регион:
        .u-block__select 
          select(name="u-block-selector")
            option(value="Moscow" selected) Москва
            option(value="Kazan") Казань
            option(value="Ufa") Уфа
            option(value="Perm") Пермь
          +svg('rac-svg', 'u-block')
      a.link-reset(href="tel:+74958854547" class="u-block__tel") #[+svg('phone-svg', 'u-block')] #[span +7 (495) 885-45-47]
      ul.list-reset.u-block__list
        +ItemLink('u-block__item', 'u-block__link', 'О\u00A0компании') 
        +ItemLink('u-block__item', 'u-block__link', 'Гарантия и\u00A0возврат') 
        +ItemLink('u-block__item', 'u-block__link', 'Корпоративным клиентам') 
        +ItemLink('u-block__item', 'u-block__link', 'Дизайн-решение')   
      +user-basket('u')
    .header__m-block.m-block
      button.btn-reset.m-block__burger
      a.link-reset(href='#').m-block__main-title #[+svg('logo-svg', 'm-block')]
      nav.m-block__nav
        ul.list-reset.m-block__list 
          +ItemLink('m-block__item', 'm-block__link', 'Каталог', 'market-link') 
          +ItemLink('m-block__item', 'm-block__link', 'Магазины') 
          +ItemLink('m-block__item', 'm-block__link', 'Шоу-рум') 
          +ItemLink('m-block__item', 'm-block__link', 'Доставка и\u00A0оплата', 'form-link') 
          +ItemLink('m-block__item', 'm-block__link', 'Дисконт') 
          +ItemLink('m-block__item', 'm-block__link', 'Контакты', 'contacts-link')
      +user-basket('m')
    .header__d-block.d-block
      form.d-block__find.find
        +svg('search-svg', 'find')
        input(type="text" placeholder="Я хочу купить...").find__input 
        +arr-btn('d-block__arr-btn')
      .d-block__hcategory.hcategory 
        .hcategory__head Категория
        .hcategory__nav
          ul.list-reset.hcategory__list
            +ItemLink('hcategory__item', 'hcategory__link', 'Диваны')
            +ItemLink('hcategory__item', 'hcategory__link', 'Кресла')
            +ItemLink('hcategory__item', 'hcategory__link', 'Пуфы')
            +ItemLink('hcategory__item', 'hcategory__link', 'Кровати')
            +ItemLink('hcategory__item', 'hcategory__link', 'Тумбы')
          ul.list-reset.hcategory__list
            +ItemLink('hcategory__item', 'hcategory__link', 'Комоды')
            +ItemLink('hcategory__item', 'hcategory__link', 'Стулья')
            +ItemLink('hcategory__item', 'hcategory__link', 'Столы')
            +ItemLink('hcategory__item', 'hcategory__link', 'Аксессуары')
      +user-basket('d')

