section.heronew
  .heronew__block
    picture.heronew__picture
      source(media='(max-width: 425px)', srcset=`img/heronew/heronew-320.webp`)
      source(media='(max-width: 936px)', srcset=`img/heronew/heronew-768.webp`)
      source(media='(max-width: 1150px)', srcset=`img/heronew/heronew-1024.webp`)
      img.img-reset(src=`img/heronew/heronew-1920.webp`, alt='hero-new-picture')
    .heronew__container.container
      h2.title-reset.heronew__title Оксфорд 1950 
      p.margin-reset.heronew__descr Новая коллекция изысканных кресел
      button.btn-reset.heronew__btn.primary-btn Ознакомиться
  .heronew__container.heronew__container_mod.container
    button.btn-reset.heronew__btn.heronew__btn_media.primary-btn Ознакомиться