section.hero
  .hero__swiper.swiper
    .swiper-wrapper.swiper-wrapper-reset
      +hero-slider('Скидка\u00A015% на\u00A0первую\u00A0покупку', 'Получить!', 1)
      +hero-slider('1000+ аксессуаров для\u00A0дома', 'Подробнее', 2)
      +hero-slider('Коллекция стильного и\u00A0яркого\u00A0текстиля', 'Подробнее', 3)
    .swiper-pagination.hero__pagination 
  .hero__container.hero__container_mod.container
    button.btn-reset.hero__btn.hero__btn_media.primary-btn Получить!