section.rating
  .rating__container.container
    h2.title-reset.rating__title Высокий рейтинг
    ul.list-reset.rating__grid
      +item('5,0', 'Диван кожаный “R\u201194”', 1, '94\u00A0990', 'rating__cell')
      +item('4,9', 'Диван апартековый “T\u201175”', 2, '69\u00A0990', 'rating__cell')
      +item('4,8', 'Диван тканевый “D\u201131”', 3, '28\u00A0490', 'rating__cell')
      +item('4,8', 'Диван велюровый “Y\u201168”', 4, '22\u00A0990', 'rating__cell')
      +item('4,8', 'Диван из шинила “W\u201195”', 5, '22\u00A0990', 'rating__cell')
      +item('4,8', 'Диван флоковый “G\u201141”', 6, '17\u00A0990', 'rating__cell')
      +item('4,8', 'Диван шиниловый “V\u201143””', 7, '19\u00A0990', 'rating__cell')
      +item('4,7', 'Диван велюровый “S\u201199”', 8, '19\u00A0990', 'rating__cell')
      +item('4,7', 'Диван из кожзама “F\u201185”', 9, '26\u00A0990', 'rating__cell')
      +item('4,6', 'Диван флоковый “H\u201164”', 10, '25\u00A0990', 'rating__cell')
      +item('4,6', 'Диван флоковый “H\u201158”', 11, '23\u00A0990', 'rating__cell')
      +item('4,6', 'Диван из кожзама “R\u201143”', 12, '33\u00A0990', 'rating__cell')
      +item('4,6', 'Диван из шинила “С\u201142”', 13, '18\u00A0990', 'rating__cell')
      +item('4,6', 'Диван велюровый “U\u201158”', 14, '21\u00A0990', 'rating__cell')
      +item('4,5', 'Диван флоковый “F\u201141”', 15, '17\u00A0990', 'rating__cell')
      +item('4,5', 'Диван велюровый “R\u201185”', 16, '34\u00A0990', 'rating__cell')
      +item('4,5', 'Диван велюровый “S\u201144”', 17, '19\u00A0990', 'rating__cell')
      +item('4,4', 'Диван велюровый “С\u201180”', 18, '20\u00A0990', 'rating__cell')
    button.btn-reset.rating__main-btn.primary-btn Смотреть больше товаров