section.similar
  .similar__container.container 
    h2.title-reset.similar__title  Похожие товары 
      span.similar__navigation.headnav
        +arr-btn('headnav__prev swiper-button-prev') 
        +arr-btn('headnav__next swiper-button-next')
    .swiper
      ul.list-reset.similar__list.swiper-wrapper.swiper-wrapper-reset
        +item('4,5', 'Диван велюровый “R\u201185”', 16, '34\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,6', 'Диван флоковый “H\u201158”', 11, '23\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,5', 'Диван велюровый “S\u201144”', 17, '19\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,8', 'Диван шиниловый “V\u201143””', 7, '19\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('5,0', 'Диван кожаный “R\u201194”', 1, '94\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,9', 'Диван апартековый “T\u201175”', 2, '69\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,8', 'Диван велюровый “Y\u201168”', 4, '22\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,8', 'Диван из шинила “W\u201195”', 5, '22\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,8', 'Диван флоковый “G\u201141”', 6, '17\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,7', 'Диван велюровый “S\u201199”', 8, '19\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,7', 'Диван из кожзама “F\u201185”', 9, '26\u00A0990', 'swiper-slide swiper-slide-reset')
        +item('4,6', 'Диван флоковый “H\u201164”', 10, '25\u00A0990', 'swiper-slide swiper-slide-reset')