section.special#special-section
  .special__container.container
    h2.title-reset.special__title Специальные #[span.special__subtitle предложения]
      span.special__navigation.headnav
        span.special__block-1 
          +arr-btn('headnav__prev swiper-button-prev') 
          +arr-btn('headnav__next swiper-button-next') 
        span.special__block-2 
          +arr-btn('headnav__prev swiper-button-prev') 
          +arr-btn('headnav__next swiper-button-next') 
        span.special__block-3 
          +arr-btn('headnav__prev swiper-button-prev') 
          +arr-btn('headnav__next swiper-button-next') 
    .special__content.special__block-1
      .swiper 
        ul.list-reset.swiper-wrapper
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('9\u00A0000', 'Кресло велюровое “X\u201124”', 1, '15\u00A0990', '24\u00A0990')
              +special-item('10\u00A0000', 'Диван тканевый “Z\u201144”', 2, '22\u00A0990', '32\u00A0990')  
              +special-item('600', 'Будильник  “Quartz\u201123”', 3, '1\u00A0290', '1\u00A0890') 
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('300', 'Мини-скульптура “Oh my deer”', 4, '690', '990')
              +special-item('10\u00A0000', 'Диван вел-флок “Z\u201185”', 5, '22\u00A0990', '32\u00A0990')  
              +special-item('700', 'Термометр + гидрометр “H\u201118”', 6, '1\u00A0390', '2\u00A0090')
    .special__content.special__block-2
      .swiper 
        ul.list-reset.swiper-wrapper
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('9\u00A0000', 'Кресло велюровое “X\u201124”', 1, '15\u00A0990', '24\u00A0990')
              +special-item('10\u00A0000', 'Диван тканевый “Z\u201144”', 2, '22\u00A0990', '32\u00A0990')  
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('600', 'Будильник  “Quartz\u201123”', 3, '1\u00A0290', '1\u00A0890') 
              +special-item('300', 'Мини-скульптура “Oh my deer”', 4, '690', '990')
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('10\u00A0000', 'Диван вел-флок “Z\u201185”', 5, '22\u00A0990', '32\u00A0990')  
              +special-item('700', 'Термометр + гидрометр “H\u201118”', 6, '1\u00A0390', '2\u00A0090')
    .special__content.special__block-3
      .swiper 
        ul.list-reset.swiper-wrapper
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('9\u00A0000', 'Кресло велюровое “X\u201124”', 1, '15\u00A0990', '24\u00A0990')
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('10\u00A0000', 'Диван тканевый “Z\u201144”', 2, '22\u00A0990', '32\u00A0990')
          li.swiper-slide
            ul.list-reset.special__grid  
              +special-item('600', 'Будильник  “Quartz\u201123”', 3, '1\u00A0290', '1\u00A0890') 
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('300', 'Мини-скульптура “Oh my deer”', 4, '690', '990')
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('10\u00A0000', 'Диван вел-флок “Z\u201185”', 5, '22\u00A0990', '32\u00A0990') 
          li.swiper-slide
            ul.list-reset.special__grid
              +special-item('700', 'Термометр + гидрометр “H\u201118”', 6, '1\u00A0390', '2\u00A0090')
