section.top
  .top__container.container
    h2.title-reset.top__title Топ категории
    ul.list-reset.top__grid.grid 
      +top-item('Прямые', 'Угловые', 'Диваны', 1, 'Модульные')
      +top-item('Мягкие', 'Кресла-кровати', 'Кресла', 2)
      +top-item('Односпальные', 'Двуспальные', 'Кровати', 3)
      +top-item('Тумбы', 'Комоды', 'Тумбы и\u00A0комоды', 4)
      +top-item('Деревянные', 'Металлокаркас', 'Стулья', 5)