section.useful 
  .useful__container.container
    h2.title-reset.useful__title  Полезное 
      span.useful__navigation.headnav
        +arr-btn('headnav__prev swiper-button-prev') 
        +arr-btn('headnav__next swiper-button-next') 
    .swiper 
      ul.list-reset.useful__list.swiper-wrapper 
        +useful-slider(1, 'И\u00A0нет сомнений, что сделанные на\u00A0базе интернет\u2011аналитики выводы представляют собой не\u00A0что иное?')
        +useful-slider(2, 'Как принято считать, некоторые особенности приносят несомненную пользу обществу?')
        +useful-slider(3, 'Ясность нашей позиции очевидна: укрепление и\u00A0развитие внутренней структуры?')
        +useful-slider(4, 'Прежде всего, консультация с\u00A0широким активом однозначно фиксирует необходимость распределения?')
        +useful-slider(5, 'Как принято считать, некоторые особенности приносят несомненную пользу обществу?')