.market {
  &__container {
    padding-bottom: 70px;
  }

  &__content {
    display: flex;
    gap: $gap;
  }

  &__title {
    display: none;
    font-size: 24px;
    line-height: 130%;
  }

  &__filter {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 296px;
  }

  &__oxford {
    display: flex;
    flex-direction: column;

    margin-top: auto;
    padding: 30px;

    height: 360px;

    background-color: $black;

    border-radius: 10px;

    cursor: pointer;
  }

  &__pagination,
  &__empty {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-top: $gap;
    height: 32px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height: 32px;

      color: $primary;
      line-height: 16px;

      border: 2px solid $primary;
      border-radius: 10px;

      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:nth-child(1) {
        position: relative;
        &::before {
          position: absolute;
          content: "1";
          @extend %center;
        }
      }

      &:nth-child(2) {
        position: relative;
        &::before {
          position: absolute;
          content: "2";
          @extend %center;
        }
      }

      &:nth-child(3) {
        position: relative;
        &::before {
          position: absolute;
          content: "3";
          @extend %center;
        }
      }

      &:hover {
        color: $white;
        background-color: $primary;
      }
      &:focus {
        color: $white;
        background-color: $primary_light;
      }
      &:active {
        color: $white;
        background-color: $primary_shade;
        border-color: $primary_shade;
      }
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet-active:hover,
    .swiper-pagination-bullet-active:focus,
    .swiper-pagination-bullet-active:active {
      color: $white;
      background-color: $primary_shade;
      border-color: $primary_shade;

      cursor: auto;
    }
  }
}

.filter {
  &__title {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }

  &__caption:last-child {
    display: none;
  }

  &__name {
    position: relative;
    margin-bottom: 10px;

    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__block {
    margin-bottom: 26px;

    color: $grey_shade;

    &:nth-child(3) {
      margin-bottom: 36px;
    }
  }

  &__item {
    height: 20px;

    .checkbox__name {
      padding-left: $gap;

      line-height: 130%;

      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary;
      }
      &:active {
        color: $primary_shade;
      }
    }
  }
}

.range {
  &__price {
    display: flex;
    justify-content: space-between;
    column-gap: $gap;

    margin-top: -6px;
    margin-bottom: 10px;
  }

  &__input-num {
    appearance: none;

    margin-left: 5px;
    padding: 5px 13px;

    flex-shrink: 0;
    width: 86px;
    height: 30px;

    color: $grey-shade;
    line-height: 20.8px;

    border: 1px solid $grey;
    border-radius: 2px;
    box-shadow: none;

    outline: none;

    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $primary;
      background-color: transparent;
    }

    &:focus {
      background-color: $pink_light;
      border-color: $primary;
    }

    &:active {
      border-color: $primary_shade;
      background-color: transparent;
    }
  }

  &__slider {
    position: relative;

    margin: 0 6px;

    height: 3px;
    border-radius: 3px;

    background-color: $md-grey;
  }

  &__progress {
    position: absolute;
    left: 25%;
    right: 25%;

    height: 3px;
    border-radius: 3px;

    background-color: $primary;

    transition: background-color 0.3s ease-in-out;

    &_active {
      background-color: $primary_shade;
    }
  }

  &__bar {
    position: relative;
  }

  &__input-bar {
    position: absolute;
    top: -3px;
    height: 3px;
    width: 100%;
    background: none;
    pointer-events: none;
    appearance: none;

    &:focus {
      &::-webkit-slider-thumb {
        background-image: url("../img/sprite.svg#slider-sh-svg");
      }
    }

    &::-webkit-slider-thumb {
      appearance: none;

      margin-top: 10px;

      width: 13px;
      height: 13px;
      cursor: pointer;
      pointer-events: auto;

      overflow: visible;

      background: transparent url("../img/sprite.svg#slider-svg") bottom / cover
        no-repeat;

      transition: background-image 0.3s ease-in-out;

      &:hover {
        background-image: url("../img/sprite.svg#slider-lg-svg");
      }

      &:active {
        background-image: url("../img/sprite.svg#slider-sh-svg");
      }
    }
  }
}

.oxford {
  &__img {
    margin: -30px;
    margin-bottom: 30px;

    width: initial;
    height: initial;

    border-radius: 10px 10px 0 0;
  }

  &__title {
    color: $gold;
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
  }

  &__descr {
    max-width: 200px;

    color: $grey;
    line-height: normal;
  }

  &__btn {
    display: flex;
    align-items: center;
    column-gap: 5px;

    margin-top: auto;
  }

  &__caption {
    display: block;
    color: $primary;
    font-weight: 700;
    line-height: 19.2px;

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    transition: border-bottom-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &__svg {
    position: relative;
    display: block;

    width: 22px;
    height: 22px;

    border: 2px solid $primary;
    border-radius: 100%;

    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  &__rac-svg {
    position: absolute;
    @extend %center;

    width: 8px;
    height: 10px;

    stroke: $primary;
    fill: transparent;

    transition: stroke 0.3s ease-in-out;
  }

  &:hover {
    .oxford__btn {
      .oxford__caption {
        border-bottom-color: $primary;
      }

      .oxford__svg {
        background-color: $primary;
      }

      .oxford__rac-svg {
        stroke: $white;
      }
    }
  }

  &:focus {
    .oxford__btn {
      .oxford__caption {
        border-bottom-color: $primary;
      }

      .oxford__svg {
        background-color: $primary_light;
      }

      .oxford__rac-svg {
        stroke: $white;
      }
    }
  }

  &:active {
    .oxford__btn {
      .oxford__caption {
        color: $primary-shade;
        border-bottom-color: $primary-shade;
      }

      .oxford__svg {
        border-color: $primary_shade;
        background-color: $primary-shade;
      }

      .oxford__rac-svg {
        stroke: $white;
      }
    }
  }
}

.catalog {
  &_small {
    display: none !important;
  }

  &__title {
    font-size: 24px;
    line-height: 130%;
  }

  &__grid {
    @extend %grid;

    grid-template-areas:
      "cell-1 cell-2 cell-3"
      "cell-4 cell-5 cell-6"
      "cell-7 cell-8 cell-9";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 420px);
  }
}

@media (max-width: 1304px) {
  .market {
    &__nav {
      margin: 0;
    }

    &__title {
      display: block;
      margin-top: $gap;
      margin-bottom: 16px;
    }

    &__content {
      display: block;
    }

    &__filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: $gap;
      row-gap: calc($gap / 2);

      margin-bottom: $gap;

      width: 100%;
      max-width: initial;
    }

    &__oxford {
      display: none;
    }

    &__empty {
      display: none;
    }
  }

  .filter {
    &__title {
      margin: 0;
      margin-right: auto;

      font-size: 14px;
      line-height: 18.2px;
    }

    &__caption {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }

    &__block {
      position: relative;

      margin: 0 !important;

      width: 187px;
      height: 40px;

      border-radius: 10px;
      background: $grey-light;

      &:nth-child(2) {
        z-index: 1000;
      }
      &:nth-child(3) {
        z-index: 1000;
      }
    }

    &__name {
      position: absolute;
      z-index: 100;

      margin: 0;
      padding: 9px 15px;

      width: 100%;
      height: 100%;

      font-weight: 400;

      border: 2px solid transparent;
      border-radius: 10px;

      cursor: pointer;
      transition: border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out, height 0.3s ease-in-out;

      &:hover {
        border-color: $primary;
      }

      &:focus {
        background-color: $pink_light;
      }

      &:active {
        border-color: $primary_shade;
        background-color: transparent;
      }

      &::after {
        content: "";
        position: absolute;

        top: 45%;
        right: 15px;

        width: 13px;
        height: 8px;

        background: transparent url("../img/sprite.svg#b-arr-pr-svg") center
          center / cover no-repeat;

        transition: transform 0.3s ease-in-out;
      }

      &_active {
        border-color: $primary;

        &::after {
          transform: rotateX(180deg);
        }
      }
    }

    &__list {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      padding: 20px 15px 15px;
      height: 0;

      width: 100%;

      background-color: $grey_light;

      border-radius: 10px;
      border: 2px solid transparent;

      overflow: hidden;

      transition: border-color 0.3s ease-in-out, height 0.3s ease-in-out,
        padding 0.3s ease-in-out;

      &_active {
        padding-top: 55px;

        height: 350px;

        border-color: $primary;

        &.discount {
          height: 158px !important;
        }

        .filter__item {
          opacity: 1;
          transition: opacity 0.6s ease-in-out;
        }
      }
    }

    &__item {
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }

    &__range {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      padding: 20px 15px 15px;
      height: 0;

      width: 100%;

      background-color: $grey_light;

      border-radius: 10px;
      border: 2px solid transparent;

      overflow: hidden;

      transition: border-color 0.3s ease-in-out, height 0.3s ease-in-out,
        padding 0.3s ease-in-out;

      &_active {
        padding-top: 55px;

        height: 173px;

        border-color: $primary;

        .range__price,
        .range__slider,
        .range__bar {
          opacity: 1;
          transition: background-color 0.3s ease-in-out,
            opacity 0.6s ease-in-out;
        }
      }
    }
  }

  .range {
    &__price,
    &__slider,
    &__bar {
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }

    &__price {
      flex-direction: column;
      row-gap: 10px;

      margin-bottom: 15px;
    }

    &__label:first-child {
      .range__input-num {
        margin-left: 7px;
      }
    }
  }

  .catalog {
    &__title {
      display: none;
    }
  }
}

@media (max-width: 931px) {
  .market {
    &__title {
      margin-bottom: 27px;
    }

    &__filter {
      flex-wrap: wrap;
      max-width: 406px;
    }
  }

  .filter {
    &__title {
      width: 100%;
    }
  }

  .catalog {
    &_big {
      display: none !important;
    }

    &_small {
      display: block !important;
    }

    &__grid {
      @extend %grid;

      grid-template-areas:
        "cell-1 cell-2"
        "cell-3 cell-4"
        "cell-5 cell-6";

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 420px);
    }
  }
}

@media (max-width: 736px) {
  .market {
    &__filter {
      gap: calc($gap / 2);
    }
  }

  .catalog {
    &__grid {
      gap: calc($gap / 2);
    }
  }
}

@media (max-width: 500px) {
  .market {
    &__title {
      margin-top: 0;
      margin-bottom: 16px;
    }

    &__filter {
      display: block;
      max-width: 100%;
    }
  }

  .filter {
    position: relative;

    height: 130px;

    &__block {
      width: calc((100% - $gap / 2) / 2);

      transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &:nth-child(2) {
        position: absolute;
        top: 34px;
        left: 0;
      }
      &:nth-child(3) {
        position: absolute;
        top: 34px;
        right: 0;
      }
      &:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:nth-child(5) {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &:hover {
        z-index: 100000;
      }

      &_active {
        width: 100%;
        z-index: 100000 !important;

        & ~ * {
          opacity: 0;
        }
      }
    }

    .checkbox {
      &__name {
        font-size: 14px;
        padding-left: 28px;

        &::before,
        &::after {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .catalog {
    &__grid {
      grid-template-rows: repeat(3, 278px);

      $gap: 0;
    }
  }
}
