.contacts {
  &__container {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  &__flexbox {
    display: flex;
    column-gap: $gap;
  }

  &__input {
    @extend %input;

    margin-bottom: 30px;
    padding: 7px 18px;

    width: 100%;
    max-height: 54px;

    line-height: 40px;
  }

  &__title {
    margin-bottom: 9px;
  }

  &__descr-t {
    margin-bottom: 16px;

    font-size: 14px;
    line-height: normal;
  }

  &__checkbox {
    display: block;
    margin-top: 12px;
  }

  &__picture {
    display: flex;
    min-width: $cell-2;

    align-items: center;
  }

  &__img {
    padding-top: 18px;
    height: initial;
  }
}

.descr-t {
  &__text {
    color: $grey-shade;
    font-size: 14px;
    line-height: normal;
  }

  &__tooltip {
    position: relative;
    z-index: 1;

    display: inline-block;
    margin-left: 3px;

    width: 14px;
    height: 14px;

    background: transparent url("../img/sprite.svg#marker-def-svg") center /
      cover no-repeat;

    cursor: pointer;

    transition: background-image 0.3s ease-in-out;

    &:hover {
      background-image: url("../img/sprite.svg#marker-act-svg");

      .descr-t__mark {
        opacity: 1;
      }
    }
  }

  &__mark {
    position: absolute;
    top: -50%;
    left: 50%;

    padding: 5px;

    width: 157px;

    color: $white;
    text-align: center;
    font-size: 9px;
    line-height: 14px;

    background-color: $black;

    opacity: 0;

    transform: translate(-50%, -100%);

    transition: opacity 0.3s ease-in-out;
  }

  &__popup-arr-svg {
    position: absolute;
    top: 98%;
    @extend %centerX;

    width: 12px;
    height: 6px;
  }
}

@media (max-width: 1300px) {
  .contacts {
    &__form {
      max-width: 405px;
    }
  }
}

@media (max-width: 931px) {
  .contacts {
    &__picture {
      min-width: initial;
      max-width: 187px;
    }

    &__img {
      width: initial;
    }

    &__checkbox {
      margin-top: -12px;
    }
  }
}

@media (max-width: 736px) {
  .contacts {
    &__checkbox {
      margin-top: 12px;
    }
  }
}

@media (max-width: 500px) {
  .contacts {
    &__picture {
      display: none;
    }
  }
}
