.header {
  position: relative;

  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    min-height: 50px;

    background-color: $grey_light;
    transition: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
}

.u-block {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  column-gap: $gap - 2px;

  min-height: 50px;

  &__region {
    width: 178px;

    display: flex;
    align-items: center;
  }

  &__descr {
    display: inline-block;
    line-height: 19px;
  }

  &__select {
    position: relative;
    display: flex;

    width: 100%;
    max-width: 78px;

    cursor: pointer;

    &:hover {
      .choices__inner {
        color: $primary_light;
      }
      .u-block__rac {
        stroke: $primary_light;
      }
    }

    &:active {
      .choices__inner {
        color: $primary_shade;
      }

      .u-block__rac {
        stroke: $primary_shade;
      }
    }
  }

  &__rac-svg {
    position: absolute;
    top: 5px;
    right: 2px;

    width: 8px;
    height: 13px;

    transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
    fill: transparent;
    stroke: $primary;

    transform: rotate(90deg);
  }

  &__tel {
    display: flex;
    align-items: center;
    min-height: 22px;

    font-size: 14px;
    line-height: 14px;

    color: $secondary;
    background-color: transparent;

    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: $secondary_light;
      .u-block__phone {
        fill: $secondary_light;
      }
    }
    &:focus {
      color: $secondary;
      background-color: $bone;
      .u-block__phone {
        fill: $secondary;
      }
    }
    &:active {
      color: $secondary_shade;
      background-color: transparent;
      .u-block__phone {
        fill: $secondary_shade;
      }
    }
  }

  &__phone-svg {
    fill: $secondary;

    padding: 2px;

    width: 22px;
    height: 22px;

    transition: fill 0.3s ease-in-out;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: $gap;

    margin-left: auto;

    width: 710px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    line-height: 14px;
    color: $grey;
    text-align: center;

    @extend %inter-link;
  }

  &__usr-bsk {
    display: none;
  }
}

.m-block {
  display: flex;
  align-items: center;
  column-gap: 30px;

  min-height: 91px;

  &__main-title {
    display: block;
    height: 50px;

    margin: 0 -10px;
    padding: 10px;

    cursor: pointer;

    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    &:active {
      background-color: $md_grey;
    }
  }

  &__logo-svg  {
    width: 187px;
    height: 27px;
  }

  &__burger {
    position: relative;
    z-index: 200000;

    display: none;

    flex-shrink: 0;

    width: 24px;
    height: 24px;

    background: transparent url("../img/sprite.svg#burger-svg") center / cover;

    transition: background-image 0.3s ease-in-out;

    &_active {
      transform: none;

      background-image: url("../img/sprite.svg#close-svg");
    }

    &_visible {
      visibility: visible;
    }
  }

  &__nav {
    width: 952px;

    margin-left: auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: $gap;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: $black;
    text-align: center;

    @extend %inter-link;

    &:focus {
      color: $black;
    }
    &:active {
      color: $primary_shade;
    }
  }

  &__usr-bsk {
    display: none;
  }
}

.d-block {
  display: flex;
  align-items: center;

  height: 60px;

  &__find {
    position: relative;
    height: 100%;
  }

  &__arr-btn {
    position: absolute;
    @extend %centerY;
    right: 32px;
  }

  &__hcategory {
    position: relative;

    margin-right: $gap;

    min-width: 300px;
    height: 60px;
  }

  &__usr-bsk {
    display: flex;
  }
}

.find {
  &__search-svg {
    position: absolute;
    @extend %centerY;
    left: 32px;

    width: 20px;
    height: 20px;

    fill: $grey;
    stroke: transparent;

    transition: fill 0.3s ease-in-out;

    &_active {
      fill: $primary;
    }
  }

  &__input {
    @extend %input;

    padding: 22px 64px 22px 54px;

    width: 761px;
    height: 100%;

    line-height: 19px;

    border-radius: 10px 0 0 10px !important;
  }
}

.hcategory {
  &__head {
    position: absolute;
    z-index: 10000;
    padding: 19px 32px;

    width: 100%;
    height: 100%;

    color: $primary;

    background-color: $white;

    border: 2px solid $grey_light;
    border-radius: 0 10px 10px 0;
    outline: none;
    background-color: $white;

    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      height 0.3s ease-in-out;

    &:hover {
      border-color: $primary;
    }

    &:focus {
      background-color: $pink_light;
    }

    &:active {
      border-color: $primary_shade;
      background-color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      right: 32px;

      width: 13px;
      height: 8px;


      background: transparent url("../img/sprite.svg#b-arr-pr-svg") center center / cover no-repeat;

      transition: transform 0.3s ease-in-out;
    }

    &_active {
      &::after {
        transform: rotateX(180deg);
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    column-gap: 30px;

    padding: 34px 19px 22px;

    width: 100%;
    height: 0;

    background-color: $white;

    border: 2px solid $grey_light;
    border-radius: 0 10px 10px 10px;

    overflow: hidden;

    &_active {
      height: 254px;
      padding-top: 82px;

      .hcategory__list {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &__item {
    line-height: 21px;
  }

  &__link {
    display: inline-block;
    color: $black;

    padding: 0 10px;

    line-height: 21px;

    @extend %inter-link;
  }
}

// choicer ======================

.choices {
  width: 100%;
  margin-left: 2px;
  padding: 0 2px;
}

.is-open ~ svg {
  transform: rotate(90deg) rotateY(180deg);
}

.is-open,
.is-active,
.is-focused {
  outline: none;
  border: none;

  .choices__inner {
    color: $primary;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .is-focused {
    background-color: $primary_light;
  }
}

.choices .is-focused {
  background-color: $primary_light !important;
}

.choices__list {
  position: relative;
}

.choices__list--dropdown {
  display: none;
  position: absolute;
  padding: 16px;

  font-size: 14px;

  border: 2px solid $grey_light;
  background-color: $white;

  cursor: pointer;
}

.is-active {
  display: block;
  border: 1px solid $grey_light;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  background-color: transparent;
}

.is-selected {
  display: none;
}

// choicer-end ===================

@media (max-width: 1304px) {
  .header {
    &::after {
      top: 58px;
    }
  }

  .u-block {
    flex-wrap: wrap;
    justify-content: space-between;

    height: 108px;

    &__region {
      display: flex;
      align-items: center;
      height: 58px;
    }

    &__list {
      align-items: center;

      margin: 0;
      margin-right: auto;

      width: 710px;
      height: 50px;
    }

    &__usr-bsk {
      display: flex;
    }
  }

  .m-block {
    column-gap: $gap;

    &__nav {
      width: 701px;
    }
  }

  .d-block {
    &__menu {
      margin-right: 0;
    }

    &__usr-bsk {
      display: none;
    }

    &__find {
      width: 100%;
    }
  }

  .find {
    &__input {
      width: 100%;
    }
  }

  .hcategory {
    margin-right: 0;

    z-index: 10000;

    &__nav {
      column-gap: 20px;
    }
  }
}

@media (max-width: 931px) {
  .u-block {
    &__list {
      width: 100%;
      margin: 0;
    }

    &__usr-bsk {
      display: none;
    }
  }

  .m-block {
    justify-content: space-between;

    &__burger {
      display: block;
    }

    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;

      display: flex;

      margin: 0 auto;
      padding-top: 200px;

      width: 100%;

      height: 100%;

      overflow-y: auto;
      visibility: hidden;
      transform: translateX(-101%);

      background-color: $white;

      transition: transform 0.3s ease-in-out;
      will-change: transform;

      &_active {
        transform: none;
      }

      &_visible {
        visibility: visible;
      }
    }

    &__list {
      width: 100%;
    }

    &__item {
      display: block;
    }

    &__link {
      text-align: start;
    }

    &__main-title {
      margin-right: -85px;
    }

    &__burger-close {
      position: absolute;
      display: block;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
    }

    &__usr-bsk {
      display: flex;
      margin: 0;
    }
  }

  .d-block {
    &__menu {
      min-width: 189px;
    }

    &__list {
      min-width: 189px;
      height: auto;
    }

    &__hcategory {
      min-width: 189px;
    }
  }

  .hcategory {
    &__nav {
      flex-direction: column;
      row-gap: 10px;

      &_active {
        height: 377px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    &::before {
      content: "";
      position: absolute;
      top: 143px;
      left: 0;

      width: 100%;
      height: 50px;

      border: 1px solid $grey_light;

      background-color: transparent;
      transition: none;
    }

    &::after {
      top: 0;
    }
  }

  .u-block {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: start;
    row-gap: 18px;

    margin-top: 50px;

    height: 93px;

    &__region {
      margin-top: 17px;
      height: initial;
    }

    &__list {
      display: none;
    }
  }

  .m-block {
    min-height: 50px;
    margin-bottom: calc($gap / 2);

    &__main-title {
      position: absolute;
      top: 0;
      left: calc((100% - 187px) / 2);
      z-index: 10;
    }

    &__burger {
      position: relative;

      margin-left: 4px;
    }

    &__usr-bsk {
      position: relative;
    }
  }

  .d-block {
    height: initial;
    flex-direction: column;

    &__find {
      margin-bottom: calc($gap / 2);

      height: 60px;
    }

    &__menu {
      width: 100%;
      border-radius: 10px;
    }

    &__hcategory {
      width: 100%;
      margin: 0;
    }
  }

  .find {
    &__input {
      border-radius: 10px !important;
    }
  }

  .hcategory {
    &__head {
      border-radius: 10px;
    }

    &__nav {
      flex-direction: row;
      column-gap: 30px;

      border-radius: 10px;

      &_active {
        height: 254px;
      }
    }
  }
}
