.top {
  &__container {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  &__grid {
    @extend %grid;

    grid-template-areas:
      "cell-1 cell-1 cell-1 cell-2 cell-2 cell-2"
      "cell-3 cell-3 cell-4 cell-4 cell-5 cell-5 ";

    grid-template-columns: repeat(6, 1fr);
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 14px;

    padding: 30px;

    background-color: $grey-light;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
      .btn-block {
        &__name {
          border-bottom-color: $primary;
        }

        &__svg {
          background-color: $primary;
        }
        &__rac-svg {
          stroke: $white;
        }
      }
    }

    &:focus {
      .btn-block {
        &__name {
          border-bottom-color: $primary;
        }

        &__svg {
          background-color: $primary_light;
        }

        &__rac-svg {
          stroke: $white;
        }
      }
    }

    &:active {
      .btn-block {
        &__name {
          color: $primary-shade;
          border-bottom-color: $primary-shade;
        }

        &__svg {
          border-color: $primary_shade;

          background-color: $primary-shade;
        }

        &__rac-svg {
          stroke: $white;
        }
      }
    }
  }

  &__picture {
    margin-left: -30px;
    margin-bottom: 16px;
  }

  &__img {
    width: initial;
  }

  &__category {
    display: flex;
    gap: 30px;
    color: $grey;
    font-size: 14px;
    line-height: 100%;
  }

  &__name {
    margin-bottom: 16px;

    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  &__btn {
    display: flex;
    align-items: center;
    column-gap: 5px;

    padding: 0;

    &_media {
      display: none;
    }
  }
}

.btn-block {
  &__name {
    display: block;
    color: $primary;
    font-weight: 700;
    line-height: 120%;

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    transition: border-bottom-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &__svg {
    position: relative;
    display: block;

    width: 22px;
    height: 22px;

    border: 2px solid $primary;
    border-radius: 100%;

    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  &__rac-svg {
    position: absolute;
    @extend %center;

    width: 8px;
    height: 10px;

    stroke: $primary;
    fill: transparent;

    transition: stroke 0.3s ease-in-out;
  }
}

@media (max-width: 1304px) {
  .top {
    &__grid {
      grid-template-areas:
        "cell-1 cell-1 cell-1 cell-1 cell-3 cell-3"
        "cell-4 cell-4 cell-2 cell-2 cell-5 cell-5";

      grid-template-rows: repeat(2, 1fr);
    }

    &__picture {
      &_3 {
        margin-right: -30px;
      }
    }

    &__img[alt="top-sof-3"] {
      width: 100%;
    }
  }
}

@media (max-width: 931px) {
  .top {
    &__grid {
      grid-template-areas:
        "cell-1 cell-1 cell-1 cell-1 cell-1 cell-1"
        "cell-3 cell-3 cell-3 cell-2 cell-2 cell-2"
        "cell-4 cell-4 cell-4 cell-5 cell-5 cell-5";

      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media (max-width: 736px) {
  .top {
    &__grid {
      gap: calc($gap / 2);
    }
    &__cell {
      min-width: $cell-2;
      max-width: none !important;
    }

    &__category {
      font-size: 10px;
    }

    &__img {
      width: 100%;
      max-width: 100%;
    }

    &__img[alt="top-sof-3"] {
      margin-right: -30px;
      max-width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .top {
    &__container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__grid {
      grid-template-rows: initial;
      row-gap: $gap;
    }

    &__cell {
      padding: 16px;

      min-width: 100%;

      &:not(:first-child) {
        .top__name {
          margin-top: -6px;
        }
      }
    }

    &__picture {
      margin-left: -16px;
      margin-right: -16px !important;

      margin-bottom: 0;
    }

    &__img {
      max-height: 104px;

      object-fit: initial;
    }

    &__img[alt="top-sof-1"] {
      min-width: 100%;
      max-height: 212px;

      object-fit: fill;
    }

    &__category {
      flex-direction: column;

      gap: 0;
    }

    &__capture:first-child {
      margin-bottom: 4px;
    }

    &__name {
      display: flex;
      align-items: end;
      gap: 5px;

      margin-top: -8px;
      margin-bottom: 0;

      font-size: 16px;
    }

    &__btn {
      &_perm {
        display: none;
      }
      &_media {
        display: block;
      }
    }

    &__cell:first-child {
      padding-top: 30px;
      padding-left: 30px;

      .top {
        &__category {
          flex-direction: row;
          column-gap: 20px;
          font-size: 14px;
        }
        
        &__capture:first-child {
          margin-bottom: 0;
        }

        &__picture {
          margin-left: -30px;
          margin-bottom: 0;
        }

        &__name {
          align-items: center;
          margin-top: 0;
          margin-bottom: 2px;
          font-size: 24px;
        }
      }
    }
  }

  .top-cell-4 {
    .top__name {
      line-height: 104%;
    }
  }
}
