.useful {
  &__container {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__title {
    position: relative;
  }

  &__picture {
    margin: -30px;
    margin-bottom: 0;
  }

  &__article {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    padding: 30px;

    flex-basis: 100%;
    min-height: 676px;

    border-radius: 10px;
    background-color: $grey-light;
  }

  &__descr {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  &__btn {
    margin-top: auto;
    box-sizing: border-box;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: initial;
  }
}

@media (max-width: 1304px) {
  .useful {
    &__article {
      min-height: 456px;
    }

    &__descr {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .useful {
    &__container {
      position: relative;

      padding-top: 38px;
      padding-bottom: 88px;
    }

    &__title {
      position: static;
    }

    &__navigation {
      top: initial;
      bottom: 40px;
      left: 50%;

      transform: translateX(-50%);
    }
  }
}
