.arr-btn {
  position: relative;

  width: 32px;
  height: 32px;

  border: 2px solid $primary;
  border-radius: 100%;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &__rac-svg {
    position: absolute;
    @extend %center;

    width: 8px;
    height: 16px;

    stroke: $primary;
    fill: transparent;

    transition: stroke 0.3s ease-in-out;
  }

  &:hover {
    background-color: $primary;
    .arr-btn__rac-svg {
      stroke: $white;
    }
  }

  &:focus {
    background-color: $primary_light;
    .arr-btn__rac-svg {
      stroke: $white;
    }
  }

  &:active {
    border-color: $primary_shade;
    background-color: $primary_shade;
    .arr-btn__rac-svg {
      stroke: $white;
    }
  }

  &:disabled {
    border-color: $grey;
    background-color: transparent;
    .arr-btn__rac-svg {
      stroke: $grey;
    }
  }
}
