.navlink {
  position: relative;
  z-index: 10;

  margin-top: -10px;

  font-size: 14px;
  line-height: 14px;
  color: $grey;

  margin-bottom: $gap;

  &__link {
    @extend %inter-link;

    &:last-of-type {
      color: $primary_shade;
    }
  }

  &__slash {
    padding: 0 5px;

    &:last-of-type {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .navlink {
    display: none;
  }
}
