.primary-btn,
.primary-btn-sm {
  padding: 20px 47px;

  color: white;
  line-height: 100%;
  font-weight: 700;
  text-align: center;

  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;

  background-color: $primary;

  &:hover {
    background-color: $primary_light;
    border-color: transparent;
  }
  &:focus {
    background-color: $primary_light;
    border-color: $primary_shade;
  }
  &:active {
    background-color: $primary_shade;
    border-color: transparent;
  }
  &:disabled {
    background-color: $md_grey;
    border-color: transparent;
    color: $grey;
  }
}

.primary-btn-sm {
  padding: 17px 35px;
  font-weight: 600;
}
