.secondary-btn {
  align-self: flex-start;

  padding: 17px 35px;

  color: $primary;
  font-weight: 600;
  line-height: 16px;
  text-align: center;

  outline: none;
  border: 2px solid $primary;
  border-radius: 10px;

  background-color: transparent;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  &:focus {
    background-color: $primary_light;
    border-color: $primary;
    color: $white;
  }
  &:active {
    background-color: $primary_shade;
    border-color: $primary_shade;
  }
  &:disabled {
    background-color: $md_grey;
    border-color: transparent;
    color: $grey;
  }
}
