.just-validate-error-field {
  border-color: $red-input !important;
}

.just-validate-success-field {
  border-color: $green-input !important;
}

.just-validate-error-label {
  display: block;

  position: absolute;
  top: -15px;
  left: 18px;

  font-size: 12px;
  line-height: normal;
  color: $red-input !important;

  transition: opacity 0.3s ease-in-out;
}

.input-container {
  position: relative;
}

