// colors:
$primary: #a65cf0;
$primary_light: #c998fb;
$primary_shade: #7033ac;
$pink_light: #f8efff;
$pink_violet: #ebd1ff;

$secondary: #ff862f;
$secondary_light: #ffbd59;
$secondary_shade: #bb370e;

$red_input: #ff6972;
$green_input: #b8ec64;

$gold: #d5b986;
$bone: #fff5d1;
$lime_color: #daffd1;

$white: #ffffff;
$grey_light: #f7f7f7;
$md_grey: #eaeaea;
$grey: #999999;
$grey_shade: #666666;
$black: #333333;

// gaps:
$gap: 32px;

// cells:
$cell-2: calc((100% - $gap) / 2);

