include ./tools/_mixins

- title = "D-31";
- style = "style/card.min.css"; 
- script = "js/card.min.js"; 

doctype html
html(lang="ru")
  include ./modules/head
  body
    include ./modules/header
    main
      include ./modules/crd
      include ./modules/similar
      include ./modules/modal
    include ./modules/footer
