include ./tools/_mixins

- title = "Сотрудничество";
- style = "style/cooperation.min.css"; 
- script = "js/cooperation.min.js"; 

doctype html
html(lang="ru")
  include ./modules/head
  body
    include ./modules/header
    main
      include ./modules/cooper
    include ./modules/footer
