include ./tools/_mixins

- title = "SitDownPls";
- style = "style/main.min.css"; 
- script = "js/main.min.js"; 

doctype html
html(lang="ru")
  include ./modules/head
  body
    include ./modules/header
    main
      include ./modules/hero
      include ./modules/special
      include ./modules/rating
      include ./modules/heronew
      include ./modules/top
      include ./modules/useful
      include ./modules/contacts
    include ./modules/footer
